[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pylama = "*"
pydocstyle = "*"
mypy = "*"
black = "*"

[packages]
termcolor = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
flask-sphinx-themes = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
